@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  scroll-behavior: smooth;
}

@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}

@layer components {
  .dotted-grid {
    background-size: 40px 40px;
    background-image: radial-gradient(circle, #583928 1.26px, rgba(212, 204, 160) 1px);
  }
  .dotted-grid-w {
    background-size: 40px 40px;
    background-image: radial-gradient(circle, #583928 1.25px, rgba(255, 255, 255) 1px);
  }

  .box-grid {
    background-size: 40px 40px;
    background-image: linear-gradient(to right, #d3d3d3 1px, transparent 1px), linear-gradient(to bottom, grey 1px, transparent 1px);
  }
}

@font-face {
  font-family: "Aeonik";
  src: url("/assets/fonts/aeonik.woff") format("woff");
}

@font-face {
  font-family: "DMSans";
  src: url("/assets/fonts/dmsans.woff") format("woff");
}

@font-face {
  font-family: "PPMoriSB";
  src: url("/assets/fonts/ppmorisb.woff") format("woff");
}